---
layout: post.njk
---
<head>
    <link rel="stylesheet" href="/CSS/c2poststyle.css">

</head>
<body>
{#   
       <audio id="background-music" loop>
  <source src="/sound/leskings-oriza.mp3" type="audio/mpeg" />
</audio> #}

<main>
        {{ content | safe }}
</main>
