<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/CSS/poststyle.css">
  <link rel="stylesheet" href="/CSS/style.css">

<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">



  
</head>
<body>
  
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>

<div id="navSupercontainer">
  <div class="nav-container">
    <header><span class="site-title"><a href="/index.html">Netbeanz.com</a></span></header>
<div class="nav-button-container">

</div>
</div>
      
  <main>
       
  
    </div>
    <div class="post-content-container">
      
  <div class="post-content">
    {{ content | safe }}

    </div>
  </div>
</main>


{# script for bouncing links. Note to self: should be injected with Javascript! So this is temporary. ~2025.04.26 #}

<script>
const links = document.querySelectorAll('.bouncing-link');

links.forEach(link => {
  const text = link.textContent;
  link.innerHTML = '';

  text.split('').forEach(letter => {
    const span = document.createElement('span');
    if (letter === ' ') {
      span.innerHTML = '&nbsp;'; // Use non-breaking space for spaces
    } else {
      span.textContent = letter;
    }
    link.appendChild(span);
  });
});
</script>
</html>