* {
    padding: 0px;
    margin: 0px;
    font-family: "Karla";

}

@font-face {
    font-family: "Karla";
    src: url(font/Karla-Italic-VariableFont_wght.ttf)
    font-style: italic;
}

@font-face {
    font-family: "Karla";
    src: url(font/Karla-VariableFont_wght.ttf)
}


body {
    background-color: lightgray;

}

.content-container {
    margin-left: auto;
    margin-right: auto;
max-width: 600px;
}


li {
    background-color: rgb(255, 251, 245)  ;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    height: 30px;
    width: 100px;
    object-fit: cover;
 }

 .nav-button {
    text-decoration: none;
    padding: 2px;
 }

 .nav-button:hover {
    border: 1px solid blue;
    background-color: rgb(226, 220, 253);
    color: blue;
    padding: 1px;

 }

 footer {
display: flex;
position: fixed;
bottom: 0px;
justify-content: space-between;
 }
 .logo {
    object-fit: scale-down;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px;
    align-self: baseline;
 }
span::before {
 transition: all 2s;
display: none;
content: "You didn't eat the magic bean!";
}
 span:hover::before {
       transition: all 2s;

    display: inline-block;
    position: absolute;
 color: #883824;
 }

 span {
 transition: all 2s;
 }

 header{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
 }

.site-title {
animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;
}


@keyframes example {
0% {
color: black;
transform: translateY(0px)
}

20% {
transform: translateY(-3px);
}
40% {
    transform: translateY(2px);
    color: black;
}
 60% {
    color: black;
transform: translateY(-5px);


 }

 80% {
    transform: translateY(0px);
 }

 100% {
    transform: translateY(0px);

    color: black;
 }
}

.missing-img:hover::after {
transition: all 2s;
display: none;
content: "New!";
}

 .missing-img:hover::after {
       transition: all 2s;
    display: inline-block;
    position: relative;
 color: #883824;
 }
    
.post-link {
    line-height: 1;
}
.post-author {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
justify-content: center;
    background-color: blanchedalmond;
    font-style: italic;
    width: fit-content;
    border-radius: 810px;
    padding: 2px;
    font-size: 10px;

}

.byline {
    font-style: normal;
    text-decoration: none;
        padding-right: 4px;
    display: inline-block;}


.post-list-container {
    margin-top: 30px;
    margin-bottom: 30px;
}


.post-info {
align-content: center;
padding-left: 20px;
padding-right: 20px;
    line-height: 1;
    margin: 0px;
    display: inline-block;
}

.post-link a {
    font-weight: 400;
    font-size: 20px;
    
    color: navy;

    transition: all 0.04s;
    text-decoration: none;
}

.post-link a:hover {
    background-color: #883824;
    color: greenyellow;
}

.post-link-container {
background-color: whitesmoke;
border: 1px solid darkgrey;
padding: 3px;
display: flex;
}



.section-header {
    color: black;
    font-weight: 500;
    padding-bottom: 3px;
    font-size: 14px;
    background-color: white;
width: fit-content;
padding: 3px;
border-top-left-radius: 2px;
border-top-right-radius: 3px;
border-bottom: 1px solid white;
}

