* {
    padding: 0px;
    margin: 0px;
    font-family: "Karla";
}

@font-face {
    font-family: "Karla";
    src: url(font/Karla-Italic-VariableFont_wght.ttf)
    font-style: italic;
}

@font-face {
    font-family: "Karla";
    src: url(font/Karla-VariableFont_wght.ttf)
}


body {
    background-color: lightgray;

}

.content-container {
    margin-left: auto;
    margin-right: auto;
max-width: 600px;
}

ul {
padding: 10px;
margin: 10px;
list-style-type: armenian;
}

li {
    padding: 4px 0px px 0px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    height: 30px;
    width: 100px;
    object-fit: cover;
 }
 footer {
display: flex;
justify-content: space-between;   }
 .logo {
    object-fit: scale-down;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px;
    align-self: baseline;
 }
span::before {
 transition: all 2s;
display: none;
content: "You didn't eat the magic bean!";
}
 span:hover::before {
       transition: all 2s;

    display: inline-block;
    position: absolute;
 color: #883824;
 }

 span {
 transition: all 2s;

 }

 div {
       transition: all 2s;

 }

 header{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
 }

.site-title {
animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;
}

@keyframes example {
0% {
color: black;
transform: translateY(0px)
}

20% {
transform: translateY(-3px);
}
40% {
    transform: translateY(2px);
    color: black;
}
 60% {
    color: black;
transform: translateY(-5px);


 }

 80% {
    transform: translateY(0px);
 }

 100% {
    transform: translateY(0px);

    color: black;
 }
}