body {
    background-color: gainsboro;
}

#navSupercontainer {
    background-color: gainsboro;
}

/* site title */

header a {
    color: firebrick;
}

h3 {
    color: firebrick;
}

.post-content img {
    transition: all 1s ease-in-out;
}

