:root {
    padding: 0;
    margin: 0;
    font-family: "American Typewriter", sans-serif; /* Added fallback font */
    --global-primary-color: #4EDF41;
    --global-secondary-color: rgb(107, 158, 30);
    --global-tertiary-color: greenyellow;
}



main {
    background-color: transparent;
}

body {

    background-image: radial-gradient(circle, var(--global-secondary-color) 5%, transparent 5%);
    background-size: 50px 50px;
    background-repeat: repeat;
    background-position: center;
    box-sizing: border-box; /* Ensures padding doesn't mess up background size */

background-color: linen;
}

h1 {
position: sticky;

    color: black;
top: 0px;
z-index: 200;
}

small {
    font-size: calc(var(--global-font-size) * .5);
}

.post-content {
    display: flex;
    flex-direction: column;

    max-width: 700px;

    overflow-y: scroll;
overflow-x: hidden;
bottom: 0;
height: 100%;

}



.post-content p {
    text-indent: 0px;
}

h2 {
    padding: 0px;
margin: 0px;
}

h3 {
    text-align: left;
}

.post-content-container {

    position: fixed;
    width: 500px;
    height: 95%;
    left: 50%;
    bottom: 0;
    margin-left: -250px; /* Negative half of width. */
    margin-bottom: -30px;


    background-color: transparent;
background-image: none;

bottom: 0;
    }
    
    span {
        font-family: "ITC Avant Garde Demi";
        font-size: calc(var(--global-font-size));
        color: linen;
    }



.horoscope {
    border: 1px solid black;
    position: sticky;
    background-color: #00B71D;
    box-shadow: -10px 10px grey, -11px 11px black, -11px 9px black, -9px 11px black;

    margin-bottom: calc(var(--global-font-size) * 2);


display: flex;
}

.horoscope-info {
padding: 0px 15px 0px 5px;

}

.horoscope-info span {
    line-height: 3;
    text-transform: capitalize;
}



.horoscope-info p {
    font-size: calc(var(--global-font-size) * .8);
    font-family: "ITC Avant garde demi";
    color: whitesmoke;
}

img {
    margin: 0px;
}

.horoscope-img img {
    padding: 10px;
    mix-blend-mode: multiply;
    width: 70px;
}

@media only screen and (max-width: 700px) {



.horoscope-info span {
    line-height: 1;
    font-size: 16px;
}

.horoscope-info p {
    font-size: 15px;
    padding-top: 10px;
}
.post-content-container{
    max-width: 100%;
padding: 20px;

}


}