:root {
    padding: 0;
    margin: 0;
    font-family: "American Typewriter", sans-serif; /* Added fallback font */
    --global-primary-color: #4EDF41;
    --global-secondary-color: rgb(107, 158, 30);
    --global-tertiary-color: greenyellow;
}


*::-webkit-scrollbar {
    height: 30px;
    width: 30px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--global-primary-color);
    border: 10px dashed linen;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: var(--global-primary-color);
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: var(--global-primary-color);
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--global-primary-color);
    border: 3px outset var(--global-primary-color);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--global-primary-color);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: var(--global-tertiary-color);
  }

main {
    background-color: transparent;
}

body {

    background-image: radial-gradient(circle, var(--global-secondary-color) 5%, transparent 5%);
    background-size: 50px 50px;
    background-repeat: repeat;
    background-position: center;
    box-sizing: border-box; /* Ensures padding doesn't mess up background size */

background-color: linen;
}

h1 {
position: sticky;

    color: black;
top: 0px;
z-index: 200;
}

small {
    font-size: 10px;
}

.post-content {
    display: flex;
    flex-direction: column;

    max-width: 700px;

    overflow-y: scroll;
overflow-x: hidden;
bottom: 0;
height: 100%;

}



.post-content p {
    text-indent: 0px;
}

h2 {
    padding: 0px;
margin: 0px;
}

h3 {
    text-align: left;
}

.post-content-container {

    position: fixed;
    width: 500px;
    height: 95%;
    left: 50%;
    bottom: 0;
    margin-left: -250px; /* Negative half of width. */
    margin-bottom: -30px;


    background-color: transparent;
background-image: none;

bottom: 0;
    }
    
    span {
        font-family: "ITC Avant Garde Demi";
        font-size: 20px;
        color: linen;
    }



.horoscope {
    border: 1px solid black;
    position: sticky;
    background-color: #00B71D;
    box-shadow: -10px 10px grey, -11px 11px black, -11px 9px black, -9px 11px black;

    margin-bottom: 100px;


display: flex;
}

.horoscope-info {
padding: 0px 15px 0px 15px;

}

.horoscope-info span {
    line-height: 3;
}

.horoscope-info p {
    font-size: 18px;
    font-family: "ITC Avant garde demi";
}

.horoscope-img img {
    padding: 15px;
    mix-blend-mode: multiply;
    width: 70px;
}