* {
  --listWidth: 1000px;
}

#siteTitleBig {
  position: fixed; /* or sticky if preferred */
  top: 0;
  left: 10;
  width: var(--listWidth, 800px);
  /* margin-left: calc(-0.5 * var(--listWidth, 800px)); */
  z-index: 1000; /* sufficiently high */
  background-color: white; /* so content below doesn’t show through */
}


.site-title {
  font-family: "American Typewriter";
  font-size: 40px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  user-select: none;
}

.site-title:hover {
    cursor: help;
}

.site-title::after {
  rotate: 2deg;
right: -35px;
  top: 60px;
  color: grey;
  background-color: aliceblue;
  content: "New and improved!";
  position: absolute;
  transform: translateX(-50%);
  font-size: 10px;
  animation: splashPulse 1s infinite ease-in-out;
  transform-origin: center;
  pointer-events: none;
}

@keyframes splashPulse {
  0%, 100% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.15);
  }
}

ul.capitalize a {
  text-transform: capitalize;
}


.list-container {
  z-index: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: var(--listWidth, 1000px);
  margin-left: 10px;
  padding-top: 20vh;
}

.double-column {
  flex: 2 2 100%;
  gap: 10px;
}

 .double-column h2 {
  background-color: white;
 }

.list-column-left h1, .list-column-right h1 {
    font-size: 60px;
    text-align: left;
      hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  overflow-wrap: normal;
  word-break: normal;
}

.list-column-left .post-link-box, .list-column-left .post-date-box {
    text-align: left;
}

.post-date-box {
  margin-bottom:20px;
}

.list-column-left summary, .list-column-right summary {
    text-align: left;
}

summary {
  padding: 0px;
  margin: 0px;
}


.list-column-left {
    flex: 1 1 300px;
  flex-direction: column;
}


.list-column-right {
  flex: 1 1 300PX;
  gap: 10px;
}

.sequenced-list {
  list-style: none;
  padding: 0;
  margin: 10px 0px 0px 0px;
}

.featuring {
  font-weight: bold;
  margin-bottom: 1rem;
}

.urgent::before {
  content: "PRIORITY";
  position: absolute;
  text-decoration: underline;
  top: -30px;
rotate: -3deg;
  color: red;
}



  @media only screen and (max-width: 700px) {


#siteTitleBig {
  left: 50%;
  width: 100%;
  margin-left: -50%;
  z-index: 1000; /* sufficiently high */
  background-color: white; /* so content below doesn’t show through */
}

.site-title {
  font-size: 30px;
}

.site-title::after {
  top: 50px;
}

.list-container {
    display: block;
    width: 100%;
    overflow: hidden;
}
}