

:root {
    --body-copy-size: 23px;
}

body {
    background-color: whitesmoke;
}

.post-content {
    text-align: justify;
    padding: 20px;
    font-size: 18px;
    }

.post-content p {
line-height: 1.36;
margin-bottom: 20px;
font-size: var(--body-copy-size);}

.post-content li {
    font-size: var(--body-copy-size);
    line-height: 1.1;
    margin-bottom: 5px;
}

.post-content i {
    font-family: "american typewriter italic";
}

h2 {
    margin-top: 50px;
}

h3 {
    text-align: center;
    font-family: "itc avant garde bold";
    color: black;
    line-height: 1;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 33px;
}


center {
    font-size: calc(var(--body-copy-size) * 50%);
    margin-top: calc(var(--body-copy-size) * 1.5);
    margin-bottom: calc(var(--body-copy-size) * .5);

}




.post-content-container {
    margin: 20px 20px 0px 20px;
    padding: 20px 20px 0px 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-image: repeating-linear-gradient(90deg, #000000, #000000 10px, transparent 10px, transparent 30px), repeating-linear-gradient(180deg, #000000, #000000 10px, transparent 10px, transparent 30px), repeating-linear-gradient(90deg, #000000, #000000 10px, transparent 10px, transparent 30px), repeating-linear-gradient(180deg, #000000, #000000 10px, transparent 10px, transparent 30px);
    background-position: left top, right top, left bottom, left top;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-color: white;
}

header a {
color: black;    
}

img {
    width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
display: block;
margin-left: auto;
margin-right: auto;
}

hr {
margin-top: 50px;
margin-bottom: 20px;
}
/* 
.post-content p {
    text-indent: 33px;
} */

.post-content img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.post-content img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.caption {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: block;
    transform: translateY(20px);
    color: grey;
    cursor: cell;
}


.note {
    color: var(--global-tertiary-color);
    font-size: calc(var(--body-copy-size) * .8);
padding: 3px;
}

.note::before {
    content: "Please Note: ";
    font-family: "American Typewriter Italic";
    font-size: calc(var(--global-tertiary-color) * .8);

}

.note:hover {
    color: black;
    cursor: help;
}
.poem {
    line-height: 2;
}

@media only screen and (max-width: 555px) {


    :root {
        --body-copy-size: 18px;
    }
    

    .chapter-image img {
        width: 100%;
        height: 281px;
        object-fit: cover;    
    }

  .post-content p {
        font-size: var(--body-copy-size);

    }

    .post-content-container {
        padding: 20px 0px 0px 0px;
        max-width: 700px;
        
    }

    .post-content {
        text-align: justify;
        padding: 10px;
        }
    
  }