* {
    padding: 0px;
    margin: 0px;
    --global-primary-color: #4EDF41;
    --global-secondary-color:rgb(107, 158, 30);
    --global-tertiary-color: #FFFF00;


    --nav-height: 100px;
--global-font-size: 20px;
    cursor:text;
}



a:hover {cursor: grab;
color: var(--global-secondary-color);
}

span:hover {
    cursor: grab;
}

.legit-marquee {
    font-family: "American Typewriter";
}

.fart {
    border: 10px solid transparent;
    padding: 15px;
    background-image: url("/images/2-1-1.png")
}


@font-face {
    font-family: "Karla";
    src: url(/font/Karla-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Karla";
    src: url(/font/Karla-VariableFont_wght.ttf)
}


@font-face {
    font-family: "American Typewriter";
    src: url(/font/american-typewriter.ttf)
}

@font-face {
    font-family: "American Typewriter Italic";
    src: url(/font/american-Typewriter-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Itc Avant Garde Bold";
    src: url(/font/itc-avant-garde-bold.otf), url(/netbeanz/font/itc-avant-garde-bold.otf);
}

@font-face {
    font-family: "ITC Avant Garde Demi";
    src: url(/font/itc-avant-garde-demi.ttf);
}


body {
    padding: 0px 10px 0px 10px;
    overflow-x: hidden;
    font-family: "American Typewriter";
    font-size: var(--global-font-size);
    background-color: white;

    background-repeat: repeat;
    background-size: 100px;
}

main {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: 100px;
    position: fixed;
    overflow: scroll;

}


::selection {
    color: rgb(0, 0, 0);
    background-color: black;
    -webkit-filter: invert();
}

big {
    font-size: calc(var(--global-font-size) + 7px);
    text-align: center;
    /* background-color: var(--global-secondary-color); */
    color: var(--global-secondary-color);
    border: 2px solid var(--global-tertiary-color);
}

a {
    cursor: grab;
    text-decoration: none;
    padding: 1px;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 6px 0px 6px;
}

a:hover {
    background-color: greenyellow;
    color: rgba(0, 0, 0, 0.847);
    box-shadow: 2px 2px black;
}

i {
    font-family: "american typewriter italic";
}


.red {
    color: red;
}


.orange {
color: orangered;
}

.firebrick {
    color: #FF2C30;
}

.firebrick-bg {
    background-color: #FF2C30;
}

.gainsboro {
    color: gainsboro;
}

.green-bg {
    background-color: var(--global-primary-color);
}

.black-bg {
    background-color: black;
}

.black-bg h1 {
    color: white;
}

.gainsboro-bg {
    background-color: gainsboro;
}

.office-grid-bg {
        background-color: #ffffff;
    background-image: linear-gradient(#0800ff76 1.2000000000000001px, transparent 1.2000000000000001px), linear-gradient(to right, #0800ff76 1.200000000000001px, #ffffff 1.2000000000000001px);
    background-size: 14px 14px;
}

.office-yellow {
    color: #ffc700;
    text-shadow: 1px 4px 0px orangered;
}

.office-yellow-bg {
    background: #ffc700;
}

.office-heading {
font-family: "American Typewriter";
}

.office-body {
    color: white;
    background-color: black;
    padding: 5px 0px 0px 0px;
    z-index: 0;
}

.office-body a {
color: white;
background-color: black;
border: 1px solid white;
}

.office-body a:hover {
    box-shadow: 2px 2px white;
}

.whitesmoke {
    color: whitesmoke;
}

.netbeanz-bg {
    color: var(--global-primary-color);
}


.grey-bricks-background {
background-image: repeating-linear-gradient(45deg, transparent, transparent 32px, #a2a0a0 32px, #a2a0a0 64px);
background-color: #767676;
}

.post-its-background {
    background-image:  conic-gradient(from 116.56deg at calc(100%/3) 0, #0000 90deg,#f2f2f2 0),
      conic-gradient(from -63.44deg at calc(200%/3) 100%, #0000 90deg,#f2f2f2 0)
      #ffffff;
}

.grey {
    background-color: blue;
}



h1 {
padding-top: 3px;
font-family: "itc avant garde bold";
color: whitesmoke;
font-size: calc(var(--global-font-size) * 1.75);
line-height: 1;
text-transform: uppercase;
/* about 15px at full size */
padding-bottom:  calc(var(--global-font-size) * .65);
}


h2 {

    font-family: "itc avant garde bold";
    color: black;
    line-height: 1;
font-size: calc(var(--global-font-size) * 1.4);
/* about 39px at full size */
    padding-top:  10px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

h3 {
    text-align: center;
    font-family: "itc avant garde bold";
    color: black;
    line-height: 1;
font-size: calc(var(--global-font-size) * 1.4);
    text-transform: uppercase;
    margin-bottom:  calc(var(--global-font-size) * .5);
}

h4, h5 {
    font-family: "ITC Avant Garde Demi";
    margin-top: -12px;
    margin-bottom:  calc(var(--global-font-size) * .5);
    color: whitesmoke;
font-size: calc(var(--global-font-size));

}

h4::after {
    content: "⊸ OK!";
    color: rgb(141, 141, 141);
    /* ᎕⊷⊸⊶⊷⊸⋯⊸⊶⊸⊶⊸⊶⊸⊶⊸⊶⊸⊶ */
}

h5::after {
    content: "⊸ UNVERIFIED";
    color: olivedrab;
    /* ᎕⊷⊸⊶⊷⊸⋯⊸⊶⊸⊶⊸⊶⊸⊶⊸⊶⊸⊶ */
}




.site-title:hover {
    cursor: help;
}


#site-nav {
    width: 500px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-bottom:20vh;
}


#navSupercontainer {
    height: fit-content;
    padding-bottom: calc(var(--global-font-size) * .5);
    position: sticky;
    top: 0;
    filter: drop-shadow(0px 2px 0px #268f00);
z-index: 1;    
}

.nav-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.nav-button-container {
    /* border: 1px solid var(--global-secondary-color); */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
display: flex;
justify-content: space-between;

    

}

.nav-button {
    font-family: "American Typewriter";
    color: whitesmoke;
font-size: calc(var(--global-font-size) - 3px);
    text-decoration: none;

}
.nav-button a {
    color: darkslategrey;
    text-decoration: none;
    background-color: whitesmoke;
}

.nav-button a:hover {
    background-color: var(--global-tertiary-color);
    color: var(--global-secondary-color);


}

.nav-button-1::before {
    content: "01 "
}

.nav-button-2::before {
    content: "02 "
}

.nav-button-3::before {
    content: "03 "
}

.nav-button-4::before {
    content: "04 "
}

.nav-button-new::after {
    content: "⊸ New!";
    font-family: "american typewriter italic";
}

button {
    font-family: "American Typewriter Italic", sans-serif;
    color: black;
    background-color: var(--global-primary-color);
}

#mute-toggle {
      position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  padding: 2px;
  font-size: 20px;
  font-family: "American Typewriter Italic", monospace;
}

.chapter-byline {
    display: flex;
    justify-content: space-between;
}

/* _-*^#$v., | A SWEET SWEET HOME IS BLESSED AND CONSUMATED BY THE BREATH OF ITS LUNGS | ,.v$#^*-_ */

.horiscope-widget {
    width: 250px;
height: fit-content;
    position: sticky;
background-color: var(--global-primary-color);
outline: 2px solid var(--global-secondary-color);
}

.transformed {
    transform: translateY(calc(-100% + 24px));
    position: fixed;
}


.horiscope-list {
    height: 300px;
    overflow-x: scroll;
}


.content {
    margin-top: 150px;
    max-width: 600px;
    display: block;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.chapter-container {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.sub-container {
    border-radius: 5px;
    padding: 0px 20px 0px 20px;

    /* about 160px at full font size */
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}


.video-container {
width: 100%;    margin-left: auto;
    margin-right: auto;
background-color: black;
}

.end-character {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
justify-self: center;
mix-blend-mode: multiply;
}

.end-character img {
    mix-blend-mode: multiply;
    width: 200px;
    opacity: .3;
    margin-top: 9vh;
    margin-bottom: 7vh;
}

.chapter-image img, .video-container, .responsive-iframe {
  margin: 0px 0px 0px 0px;
    width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;    /* background-image: url("/images/2-1-1.png"); */
}

ul.sequenced-list {
    font-family: "American Typewriter";
    counter-reset: list-counter;
    list-style: none;
    padding: 0; 
/* border-top: 1px solid black; */
padding: 10px 0px 0px 0px;

  }
  
  ul.sequenced-list li {
    counter-increment: list-counter; 
    position: relative;
    /* text-align: center; */
margin-bottom: 15px;
  }


  
  /* ul.sequenced-list li::before {
    
    content: "0" counter(list-counter);
    position: absolute;
    left: 0;
  } */

  .post-link-box {
    width: 100%;
    display: block;
  grid-auto-flow: column;
}
.post-date-box {
font-size: 16px;
}

  .featuring {
    text-transform: lowercase;
    font-size: 18px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-family: "American Typewriter Italic";
  }
  
.vibrate {
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.05s;
    text-decoration: none;
    font-size: var(--global-font-size);
    position: relative;
    
}



.vibrate:hover {
    animation: vibrate 0.3s infinite;
}

@keyframes vibrate {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-2px, -2px);
    }

    40% {
        transform: translate(2px, -2px);
    }

    60% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}

  .bouncing-link {
    display: block;
    text-decoration: none;
    font-size: var(--global-font-size);
    color: #000;
    position: relative;
  }
  
  .bouncing-link span {
    display: inline-block;
    transition: transform 0.2s ease;
  }
  
  .bouncing-link span:hover {
    transform: translateY(-8px);
  }

  .white-background {
    background-color: white;
  }

  .footer-box {
    padding-top: 20px;
min-height: 10px;
}

  .footer {
margin-left: auto;
margin-right: auto;
}


  @media only screen and (max-width: 700px) {
* {
    --global-font-size: 20px;
}



    .chapter-image img, .video-container .responsive-iframe  {
        width: 100%;
        height: 281px;
        object-fit: cover;    
    }


ul {
    counter-reset: list-counter;
    list-style: none;
    padding: 0; 

  }
  

    .post-link-box {
        display: block;
        justify-content: space-between;
        word-break: normal; /* fallback */
        overflow-wrap: break-word; /* preferred */
    }


      .post-link-box p {
        margin-bottom: 10px;
      }
    



  }

  /* CUSTOM STYLING ON CHAPTERS INLINE */

#poems {
    background: white;
}
