* {
    padding: 0px;
    margin: 0px;
    --global-primary-color: #4EDF41;
    --global-secondary-color:rgb(107, 158, 30);
    --global-tertiary-color: rgb(30, 255, 0);


    --nav-height: 100px;
--global-font-size: 23px;
    cursor:cell;
}

a:hover {cursor: grab;
color: var(--global-secondary-color);}

span:hover {
    cursor: grab;
}

.fart {
    border: 10px solid transparent;
    padding: 15px;
    background-image: url("/images/2-1-1.png")
}


@font-face {
    font-family: "Karla";
    src: url(/font/Karla-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Karla";
    src: url(/font/Karla-VariableFont_wght.ttf)
}


@font-face {
    font-family: "American Typewriter";
    src: url(/font/american-typewriter.ttf)
}

@font-face {
    font-family: "American Typewriter Italic";
    src: url(/font/american-Typewriter-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Itc Avant Garde Bold";
    src: url(/font/itc-avant-garde-bold.otf), url(/netbeanz/font/itc-avant-garde-bold.otf);
}

@font-face {
    font-family: "ITC Avant Garde Demi";
    src: url(/font/itc-avant-garde-demi.ttf);
}


body {
    font-family: "American Typewriter";
    font-size: var(--global-font-size);
    background-color: var(--global-primary-color);

}

main {
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}


::selection {
    color: var(--global-secondary-color);
    background-color: var(--global-tertiary-color);
}

big {
    font-size: calc(var(--global-font-size) + 7px);
    text-align: center;
    /* background-color: var(--global-secondary-color); */
    color: var(--global-secondary-color);
    border: 2px solid var(--global-tertiary-color);
}

a {
    text-decoration: none;
    color: rgb(107, 158, 30);
    padding: 1px;
}


a:hover {
    background-color: greenyellow;
    color: black;
}

i {
    font-family: "american typewriter italic";
}


.red {
    color: red;
}


.orange {
color: orangered;
}

.firebrick {
    color: firebrick;
}


.gainsboro-bg {
    background-color: gainsboro;
}

.whitesmoke {
    color: whitesmoke;
}

.grey-bricks-background {
background-image: repeating-linear-gradient(45deg, transparent, transparent 32px, #a2a0a0 32px, #a2a0a0 64px);
background-color: #767676;
}

.post-its-background {
    background-image:  conic-gradient(from 116.56deg at calc(100%/3) 0, #0000 90deg,#f2f2f2 0),
      conic-gradient(from -63.44deg at calc(200%/3) 100%, #0000 90deg,#f2f2f2 0)
      #ffffff;
}

.grey {
    background-color: blue;
}



h1 {
padding-top: 3px;
font-family: "itc avant garde bold";
color: whitesmoke;
font-size: calc(var(--global-font-size) * 1.75);
line-height: 1;
text-transform: uppercase;
/* about 15px at full size */
padding-bottom:  calc(var(--global-font-size) * .65);
}


h2 {

    font-family: "itc avant garde bold";
    color: black;
    line-height: 1;
font-size: calc(var(--global-font-size) * 1.4);
/* about 39px at full size */
    padding-top:  calc(var(--global-font-size) * 1.7);
    text-transform: uppercase;
    margin-bottom:  calc(var(--global-font-size) * .5);
}

h3 {
    text-align: center;
    font-family: "itc avant garde bold";
    color: black;
    line-height: 1;
font-size: calc(var(--global-font-size) * 1.4);
    text-transform: uppercase;
    margin-bottom:  calc(var(--global-font-size) * .5);
}

h4, h5 {
    font-family: "ITC Avant Garde Demi";
    margin-top: -12px;
    margin-bottom:  calc(var(--global-font-size) * .5);
    color: whitesmoke;
font-size: calc(var(--global-font-size));

}

h4::after {
    content: "⊸ OK!";
    color: rgb(141, 141, 141);
    /* ᎕⊷⊸⊶⊷⊸⋯⊸⊶⊸⊶⊸⊶⊸⊶⊸⊶⊸⊶ */
}

h5::after {
    content: "⊸ UNVERIFIED";
    color: olivedrab;
    /* ᎕⊷⊸⊶⊷⊸⋯⊸⊶⊸⊶⊸⊶⊸⊶⊸⊶⊸⊶ */
}



.site-title {
    font-family: "American Typewriter";
font-size: calc(var(--global-font-size) * 2);
    text-transform: uppercase;
    margin-bottom: 0px;

}

.site-title:hover {
    cursor: help;
}


#navSupercontainer {
    height: fit-content;
    background-color: #4EDF41;
    padding-bottom: calc(var(--global-font-size) * .5);
    position: sticky;
    top: 0;
    filter: drop-shadow(0px 2px 0px #268f00);
z-index: 1;    
}
.nav-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.nav-button-container {
    /* border: 1px solid var(--global-secondary-color); */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
display: flex;
justify-content: space-between;

    

}

.nav-button {
    font-family: "American Typewriter";
    color: whitesmoke;
font-size: calc(var(--global-font-size) - 3px);
    text-decoration: none;

}
.nav-button a {
    color: whitesmoke;
    text-decoration: none;
}

.nav-button-1::before {
    content: "01 "
}

.nav-button-2::before {
    content: "02 "
}

.nav-button-3::before {
    content: "03 "
}

.nav-button-4::before {
    content: "04 "
}

.nav-button-new::after {
    content: "⊸ New!";
    font-family: "american typewriter italic";
}

button {
    font-family: "American Typewriter Italic", sans-serif;
    color: black;
    background-color: var(--global-primary-color);
}

#mute-toggle {
      position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  padding: 2px;
  font-size: 20px;
  font-family: "American Typewriter Italic";
}


/* _-*^#$v., | A SWEET SWEET HOME IS BLESSED AND CONSUMATED BY THE BREATH OF ITS LUNGS | ,.v$#^*-_ */

.horiscope-widget {
    width: 250px;
height: fit-content;
    position: sticky;
background-color: var(--global-primary-color);
outline: 2px solid var(--global-secondary-color);
}

.transformed {
    transform: translateY(calc(-100% + 24px));
    position: fixed;
}


.horiscope-list {
    height: 300px;
    overflow-x: scroll;
}

.content-container {

    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    padding: 20px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    
}


.sub-container {
    /* about 160px at full font size */
    padding-bottom: calc(var(--global-font-size) * 7);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.video-container {
width: 100%;    margin-left: auto;
    margin-right: auto;
background-color: black;
}


.inline-chapter-container {
    margin-bottom: 50px;
    margin-top: 20px;
}
.chapter-image {
d    margin-right: 2px;
    /* background-image: url("/images/2-1-1.png"); */
}
.chapter-image img, .video-container .responsive-iframe {
    width: 100%;
    height: 481px;
    object-fit: cover;    
}

ul.sequenced-list {
    font-family: "American Typewriter";
    counter-reset: list-counter;
    list-style: none;
    padding: 0; 
border-top: 1px solid black;

  }
  
  ul.sequenced-list li {
    counter-increment: list-counter; 
    position: relative;
    padding-left: 2em; 
  }
  
  ul.sequenced-list li::before {
    
    content: "0" counter(list-counter);
    position: absolute;
    left: 0;
  }

  .post-link-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .bouncing-link {
    display: inline-block;
    text-decoration: none;
    font-size: var(--global-font-size);
    color: #000;
    position: relative;
  }
  
  .bouncing-link span {
    display: inline-block;
    transition: transform 0.2s ease;
  }
  
  .bouncing-link span:hover {
    transform: translateY(-8px);
  }

  .white-background {
    background-color: white;
  }

  .footer-box {
    padding-top: 20px;
min-height: 10px;
}

  .footer {
margin-left: auto;
margin-right: auto;
}


  @media only screen and (max-width: 700px) {
* {
    --global-font-size: 20px;
}



    .chapter-image img, .video-container .responsive-iframe  {
        width: 100%;
        height: 281px;
        object-fit: cover;    
    }


ul {
    counter-reset: list-counter;
    list-style: none;
    padding: 0; 

  }
  

    .post-link-box {
        display: block;
        justify-content: space-between;
        word-break: normal; /* fallback */
        overflow-wrap: break-word; /* preferred */
    }


      .post-link-box p {
        margin-bottom: 10px;
      }
    
  }

  /* CUSTOM STYLING ON CHAPTERS INLINE */

#poems {
    background: white;
}
